{% extends "base.html" %}
{% block pagetitle %} Video {% endblock %}
{% block page_head %} {{ super() }} Analytics {% endblock %}
{% block page_ops %}
<ul class="nav nav-tabs border-0" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active pb-2 pt-2 rounded-0" id="rtsp-tab" data-bs-toggle="tab"
                data-bs-target="#rtsp-table-container" type="button"
                role="tab" aria-controls="rtsp-table-container" aria-selected="true"
                data-card-header-text="RTSP Link to Analyse" , data-card-icon="abc">RTSP Links
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link  pb-2 pt-2  rounded-0" id="video-tab" data-bs-toggle="tab"
                data-bs-target="#video-table-container" type="button"
                role="tab" aria-controls="video-table-container" aria-selected="false"
                data-card-header-text="Video for Analytics" , data-card-icon="abc">Video for Analytics
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link pb-2 pt-2 rounded-0" id="area-tab" data-bs-toggle="tab"
                data-bs-target="#area-table-container" type="button"
                role="tab" aria-controls="area-table-container" aria-selected="false"
                data-card-header-text="Area to Monitor" , data-card-icon="abc">Area
        </button>
    </li>
</ul>
{% endblock %}
{% block card_head %}
<div class="card-header bg-light bg-gradient">
    <div class="row">
        <div class="col" id="settings-card-header">
            <span></span>
        </div>
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content_bottom %}
<div class="card-body ">
    <div class="tab-content">
        <div class="tab-pane active" id="rtsp-table-container" role="tabpanel"
             aria-labelledby="rtsp-table-container-tab">
            <div id="rtsp-table" class="dynamic-table"></div>
        </div>
        <div class="tab-pane" id="video-table-container" role="tabpanel" aria-labelledby="video-table-container-tab">
            <div id="video-table" class="dynamic-table"></div>
        </div>
        <div class="tab-pane" id="area-table-container" role="tabpanel"
             aria-labelledby="area-table-container-tab">
            <div id="area-table" class="dynamic-table"></div>
        </div>
    </div>
</div>
{% include 'ops-area.html' %}
{% include 'ops-rtsp.html' %}
{% include 'ops-video.html' %}
{%- endblock -%}
{% block page_script %}
<script type="module">
    import {AddButtonPlugin} from "{{ url_for('static', filename='gridjsplugin.js') }}"
    import {PluginPosition} from "https://unpkg.com/gridjs?module";


    const VISUALLY_HIDDEN = 'visually-hidden';

    const CARD_HEADER_TEXT_FROM_TAB = 'data-card-header-text';
    const SETTINGS_CARD_HEADER_SPAN = '#settings-card-header span';
    const TAB_ACTIVE_CLASS = 'active';
    const AREA_TABLE = 'area-table';
    const VIDEO_TABLE = 'video-table';
    const RTSP_TABLE = 'rtsp-table';
    const dummay_data = [
        ['John', 25, 'john@k.com'],
        ['Mark', 59, 'mark@e.com'],
    ]

    function createGrid(tableDomId) {
        const grid = new gridjs.Grid({
            columns: ['Name', 'Age', 'Email'],
            search: true,
            className: {
                header: 'd-flex flex-row'
            },
            data: dummay_data,
        }).render(document.getElementById(tableDomId));

        grid.plugin.add({
            id: tableDomId + "_add_button",
            component: AddButtonPlugin,
            position: PluginPosition.Header,
        });

        return grid;
    }


    const areaGrid = createGrid(AREA_TABLE);
    const rtspGrid = createGrid(RTSP_TABLE);
    const videoGrid = createGrid(VIDEO_TABLE);

    videoGrid.on('plus-item', function (){
         const MODAL_ID = 'videoModal';
        const MAP_ELEMENT_ID = 'video-map';
        let myModal = createModal(MODAL_ID);
        let myModalEl = getElementOfModal(MODAL_ID);
        myModalEl.addEventListener('shown.bs.modal', function (event) {
            let mapOptions = {
                showSearch: false,
                minZoom: 15
            };

            addMap(MAP_ELEMENT_ID, mapOptions);
        });
         myModal.show();
    });

    rtspGrid.on('plus-item', function (){
        const MODAL_ID = 'rtspModal';
        const MAP_ELEMENT_ID = 'rtsp-map';
        let myModal = createModal(MODAL_ID);
        let myModalEl = getElementOfModal(MODAL_ID);

        myModalEl.addEventListener('shown.bs.modal', function (event) {
            let mapOptions = {
                showSearch: false,
                minZoom: 15
            };

            addMap(MAP_ELEMENT_ID, mapOptions);
        });
         myModal.show();
    });


    areaGrid.on('plus-item', function (event) {
        const MODAL_ID = 'areaModal';
        const MAP_ELEMENT_ID = 'area-map';
        const AREA_INFO = '#area-info';
        const INPUT_AREA_NAME = 'area_name'
        const INPUT_AREA_DESCRIPTION = 'description';
        const INPUT_AREA_LAT = "area_lat";
        const INPUT_AREA_LNG = "area_lng";

        let myModal = createModal(MODAL_ID);
        let myModalEl = getElementOfModal(MODAL_ID)

        myModalEl.addEventListener('shown.bs.modal', function (event) {
            let mapOptions = {
                showSearch: true,
                minZoom: 11
            }
            addMap(MAP_ELEMENT_ID, mapOptions, function (vals) {
                let lat = vals.y;
                let lng = vals.x;
                let areaName = vals.label.split(",")[0];
                let description = vals.label;
                $(AREA_INFO).html("Area Name: " + areaName + " <br> Full Address: " + description);
                $(AREA_INFO).removeClass(VISUALLY_HIDDEN);
                updateIputField(INPUT_AREA_NAME, areaName);
                updateIputField(INPUT_AREA_DESCRIPTION, description);
                updateIputField(INPUT_AREA_LNG, lng);
                updateIputField(INPUT_AREA_LAT, lat);
            });
        })
        myModal.show();
    })


    function update_header(text) {
        $(SETTINGS_CARD_HEADER_SPAN).text(text)
    }

    function get_data_card_header_text_of_tab(tab) {
        return tab.attr(CARD_HEADER_TEXT_FROM_TAB)
    }

    $(document).ready(function () {

        $('button[data-bs-toggle="tab"]').each(function (index, tab) {
            if ($(tab).hasClass(TAB_ACTIVE_CLASS)) {
                let text = get_data_card_header_text_of_tab($(tab));
                update_header(text)
            }
        })

        $('button[data-bs-toggle="tab"]').on('shown.bs.tab', function (event) {
            let text = get_data_card_header_text_of_tab($(event.target));
            update_header(text)
        })
    });
</script>
{%- endblock -%}